<div class="page-header">
  <h1>Create new Album</h1>
</div>

<%= simple_form_for @album do |f| %>
  <%= f.input :name %>
  <%= f.input :photo %>
  <%= f.submit class: "btn btn-lg btn-primary"%>
<% end %>
